---
---

@import "{{ site.theme }}";

.site-footer {
    display: none;
}

body {
    background-color: white;
}

p {
    color: black;
}

a:link, a:visited,  a:active {
    color: #009b52;
    text-decoration: none;
}

a:hover {
    color: rgb(199, 46, 0);
    text-decoration: none;
}