---
---

@import "{{ site.theme }}";

.site-footer {
    display: none;
}

body {
    background-color: white;
}

p {
    color: black;
}

a:link, a:visited,  a:active {
    color: #00d123;
    text-decoration: none;
}

a:hover {
    color: rgb(28, 255, 149);
    text-decoration: none;
}


.project-name {
    display: none;
}

.project-name {
    display: none;
}